/* Remove space in CV tab */
.cv-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About tab container adjustments */
.container {
    display: flex;
    max-width: 100%; /* Remove any max-width restriction */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove padding to ensure content touches edges */
}

.content {
    width: 100%;
    padding: 0; /* Remove padding from content */
}

.sidebar {
    width: 25%;
    padding: 0;
}

.sidebar img.profile-pic {
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidebar h2, .sidebar p, .sidebar .contact-info {
    padding: 0;
    margin: 0;
}

.content section {
    margin-bottom: 0;
}

.content h2, .content p, .content ul {
    margin: 0;
    padding: 0;
}

